/* #region Cores
#1e1f22
#cab134
#b59d30
#a08a2c
#8c7729
/* #endregion */

/* #region Config Gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: poppins, arial;
    background-color: #1e1f24;
    height: 100vh;
    width: 100%;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
/* #endregion */

/* #region Header */
.container {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 8px;
}

.header {
    border-bottom: 2px solid #b59d30;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: fit-content;
    position: fixed;
    z-index: 999;
}

.fantasma {
    width: 100vw;
    height: 11vh;
    margin-bottom: 200px;
}

.header .container {
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    object-fit: cover;
    flex-shrink: 0;
    width: 350px;
    height: 100px;
}

.logo img {
    width: 100%;
}

.title {
    margin-left: 10px;
    font-family: poppins, arial;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: #b59d30;
    align-items: center;
    width: 35vw;
    font-size: 1em;
    gap: 1.5em;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.navbar .agora {
    font-weight: 500;
    text-decoration: underline;
}
/* #endregion */

/* #region Página Inicial */
.main {
    width: 75vw;
    height: fit-content;
    color: aliceblue;
}

.main-title {
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background: linear-gradient(90deg, #1e1f24 0%, #b59d30 45%, #8c7729 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-title h1 {
    font-weight: 500;
}

.desc-img {
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.desc-img h3 {
    align-self: center;
    text-decoration: underline;
    font-size: 3em;
}

.texto img {
    border-radius: 15px;
    border: 2px #8c7729 solid;
    width: 600px;
}

.img1 {
    margin-left: 50px;
}

.img2 {
    margin-right: 50px;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 75vw;
    margin-top: 100px;
    margin-bottom: 100px;
}


.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;  
    margin-bottom: 100px;
    margin-top: 100px;
}

.boxes .card {
    color: #1e1f24;
    background-color: whitesmoke;
    border-radius: 15px;
    border: #b59d30 2px solid;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 25%;
    transition: background-color 1s;
}

.card:hover {
    background-color: #b59d30;
    transform: scale(110%, 110%);
    color: whitesmoke;
    border: whitesmoke 2px solid;
}

.chamada {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chamada h2 {
    font-size: 4em;
    margin-bottom: 10px;
}

.chamada h3 {
    margin-top: 0;
    font-size: 3em;
}

.chamada button {
    background-color: #b59d30;
    border: black 2px solid;
    border-radius: 45px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    width: 325px;
    height: 100px;
    cursor: pointer;
}

.chamada button:hover {
    background-color: white;
    transform: scale(110%, 110%);
}

hr {
    margin-top: 150px;
    margin-bottom: 150px;
}
/* #endregion */

/* #region Footer */
.footer {
    background-color: #b59d30;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    width: 100%;
}

.contato {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
}

.contato p {
    margin: 0;
}

.contato .copyright {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.contato .conteudo  {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #endregion */

/* #region SobreMim */
.selfie {
    background-color: #8c7729;
    width: 50%;
    height: 50vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.selfie img {
    width: 30vh;
}

.sobremim {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sobremim .desc-img {
    width: 40%;
}

.sobremim .desc-img span {
    font-style: italic;
}
/* #endregion */

/* #region Cadastro/Login */
.main-form {
    width: 75vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}
 
.formulario-cadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 110%;
    width: 35vw;
    padding: 15px 25px;
    border-radius: 15px;
    border: #b59d30 2px solid;
}

.formulario-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 37vh;
    width: 35vw;
    padding: 15px 25px;
    border-radius: 15px;
    border: #b59d30 2px solid;
}

.formulario button {
    margin-top: 15px;
    background-color: #fff;
    cursor: pointer;
    color: black;
    border: black 1px solid;
    border-radius: 5px;
    width: 125px;
    height: 25px;
}

.formulario button:hover {
    background-color: #b59d30;
    color: #fff;
    transform: scale(105%, 105%);
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(216, 213, 206);
    border-radius: 5px;
    width: 50%;
    height: 100%;
    align-items: center;
    border-right: #1e1f24 1px solid;
}

.cadastro-img {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-image: url("fotoLogin.png");
    background-size: cover;
    background-position-x: 63%;
    border-radius: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 213, 206);
    border-radius: 5px;
    width: 50%;
    height: 100%;
    border-left: #1e1f24 1px solid;
}

.login-img{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-image: url("fotoCadastro.png");
    background-size: cover;
    border-radius: 5px;
}

.formulario a {
    font-size: 1em;
    color: #a18b39;
    text-decoration: underline;
}

.login-img p {
    font-size: 0.8em;
}

.cadastro-img p {
    font-size: 0.8em;
}

.formulario h1 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.campo p {
    margin: 0;
}

.campo input {
    border: black 1px solid;
    border-radius: 2px;
}

.mensagem_sucesso {
    position: absolute;
    background-color: aliceblue;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
}

/* #endregion */