/* #region Cores
#1e1f22
#cab134
#b59d30
#a08a2c
#8c7729
/* #endregion */

/* #region Config Gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: poppins, arial;
    background-color: #1e1f24;
    height: 130vh;
    width: 100%;
    overflow-x: hidden;
}

.pessoal a {
    cursor: pointer;
}

.body-sobre{
    height: fit-content;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* #endregion */

/* #region Header */
.container {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 8px;
}

.header {
    border-bottom: 2px solid #b59d30;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: fit-content;
    position: fixed;
    z-index: 999;
    border-radius: 0 0 17% 17%;
}

.fantasma {
    width: 100vw;
    height: 6%;
    margin-bottom: 150px;
}

.header .container {
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    object-fit: cover;
    flex-shrink: 0;
    width: 350px;
    height: 100px;
}

.logo img {
    width: 100%;
    cursor: pointer;
}


.title {
    margin-left: 10px;
    font-family: poppins, arial;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: #b59d30;
    align-items: center;
    width: 35vw;
    font-size: 1em;
    gap: 1.5em;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.navbar .agora {
    font-weight: 500;
    text-decoration: underline;
}

/* #endregion */

/* #region Página Inicial */
.main {
    width: 75vw;
    height: fit-content;
    color: aliceblue;
}

.main-title {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: linear-gradient(90deg, #1e1f24 0%, #b59d30 45%, #8c7729 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gif {
    width: 31%;
    background-image: url(gifWellBeing.gif);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.main-title h1 {
    font-weight: 500;
    margin-bottom: 0;
}

.main-title p {
    font-size: 0.6em;
    -webkit-text-fill-color: aliceblue;
    color: aliceblue;
    margin: 0;
}

.desc-img {
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.desc-img h3 {
    align-self: center;
    text-decoration: underline;
    font-size: 3em;
}

.texto img {
    border-radius: 15px;
    border: 2px #8c7729 solid;
    width: 600px;
}

.img1 {
    margin-left: 50px;
}

.img2 {
    margin-right: 50px;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 75vw;
    margin-top: 100px;
    margin-bottom: 100px;
}


.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
}

.boxes .card {
    color: #1e1f24;
    background-color: whitesmoke;
    border-radius: 15px;
    border: #b59d30 2px solid;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 25%;
    transition: background-color 1s;
}

.card:hover {
    background-color: #b59d30;
    transform: scale(110%, 110%);
    color: whitesmoke;
    border: whitesmoke 2px solid;
}

.chamada {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chamada h2 {
    font-size: 4em;
    margin-bottom: 10px;
}

.chamada h3 {
    margin-top: 0;
    font-size: 3em;
}

.chamada button {
    background-color: #b59d30;
    border: black 2px solid;
    border-radius: 45px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 225px;
    height: 50px;
    cursor: pointer;
}

.chamada button:hover {
    background-color: aliceblue;
    transform: scale(103%, 103%);
}

hr {
    margin-top: 150px;
    margin-bottom: 150px;
}

/* #endregion */

/* #region Footer */
.footer {
    background-color: #b59d30;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    width: 100%;
    height: 15%;
}

.contato {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
}

.contato p {
    margin: 0;
}

.contato .copyright {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.contato .conteudo {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #endregion */

/* #region SobreMim */
.selfie {
    background-color: #8c7729;
    width: 50%;
    height: 50vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.selfie img {
    width: 30vh;
}

.sobremim {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sobremim .desc-img {
    width: 40%;
}

.sobremim .desc-img span {
    font-style: italic;
}

.Rede-social {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.sobremim h2 {
    font-size: large;
}

.sobremim button {
    width: 10%;
    height: 10%;
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.sobremim .github:hover {
    background-color: #ff9100;
}

.sobremim .linkedin:hover {
    background-color: #0a6bfd;
}

.icone:hover {
    filter: brightness(0%);
}

.icone {
    width: 100%;
    height: 100%;
}
/* #endregion */

/* #region Cadastro/Login */
.main-form {
    width: 75vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.formulario-cadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 75vh;
    width: 40vw;
    padding: 15px 25px;
    border-radius: 15px;
    border: #b59d30 2px solid;
}

.mensagem_erro {
    display: none;
    right: 2%;
    top: 30%;
    position: absolute;
    background-color: red;
    color: aliceblue;
    border-radius: 15px;
    padding: 10px;
}

.formulario-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 54vh;
    width: 40vw;
    padding: 15px 25px;
    border-radius: 15px;
    border: #b59d30 2px solid;
    overflow: hidden;
}

.formulario button {
    margin-top: 15px;
    background-color: #fff;
    cursor: pointer;
    color: black;
    border: black 1px solid;
    border-radius: 5px;
    width: 125px;
    height: 25px;
}

.formulario button:hover {
    background-color: #b59d30;
    color: #fff;
    transform: scale(105%, 105%);
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(216, 213, 206);
    border-radius: 5px;
    width: 50%;
    height: 100%;
    align-items: center;
    border-right: #1e1f24 1px solid;
}

.cadastro-img {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-image: url("fotoLogin.png");
    background-size: cover;
    background-position-x: 63%;
    border-radius: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 213, 206);
    border-radius: 5px;
    width: 50%;
    height: 100%;
    border-left: #1e1f24 1px solid;
}

.login-img {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-image: url("fotoCadastro.png");
    background-size: cover;
    border-radius: 5px;
}

.formulario a {
    font-size: 1em;
    color: #a18b39;
    text-decoration: underline;
}

.login-img p {
    font-size: 0.8em;
}

.cadastro-img p {
    font-size: 0.8em;
}

.formulario h1 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.campo p {
    margin: 0;
}

.campo input {
    border: black 1px solid;
    border-radius: 2px;
    width: 90%;
}

.mensagem_sucesso {
    position: absolute;
    color: aliceblue;
    background-color: forestgreen;
    border-radius: 15px;
    display: none;

    padding: 10px;

    width: 300px;
    height: fit-content;
    bottom: 45%;
    right: 5%;
}

/* #endregion */

/* #region Perfil */
.background-perfil {
    height: 98vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil {
    background-color: #b59d30;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 90%;
    border-radius: 15px;
    padding: 5px;
}

.pessoal {
    border-right: #fff 2px solid;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
}

.pessoal a {
    color: #1e1f24;
    margin: 5px;
    align-self: flex-start;
    font-size: 0.7em;
}

.notificacao {
    background-color: rgb(252, 250, 239);
    width: 70%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alertas {
    background-color: lightgrey;
    height: 73%;
    width: 75%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.div_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #c2c2c2e8;
}

.divPublicacao {
    text-align: justify;
    color: #1e1f24;
    background-color: #e9e8e8;
    border: #1e1f24 1px solid;
    border-radius: 10px;
    margin-top: 15px;
    margin: 10px;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.divPublicacao:hover {
    transition: 0.5s;
    transform: scale(105%,105%);
}
/* #endregion */

/* #region Comunidade */
.container-comunidade {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.container-comunidade button {
    background-color: transparent;
    border: transparent;
    width: fit-content;
    height: fit-content;
}

.comunidades a{
    display: flex;
    color: aliceblue;
}

.mensagem-sair {
    background-color: #b59d30;
    border-radius: 15px;
    border: 2px solid aliceblue;
    
    position: absolute;
    top: 35%;
    left: 35%;
    
    font-size: large;
    
    margin: 0 auto;
    padding: 5px;
    
    display: none;
    flex-direction: column;
    
}

.fechar {
    width: fit-content;
    background-color: transparent;
    width: fit-content;
    border: transparent;
    align-self: flex-end;
    border: #1e1f24 1px solid;
    border-radius: 15px;
    background-color: aliceblue;
}

.home {
    background-color: aliceblue;
    border-radius: 15px;
    width: fit-content;
    align-self: center;
    margin: 5px;
    font-size: medium;
    border: 1px solid #1e1f24;
}

.comunidades {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

.comunidades-title{
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.comunidades-title h2 {
    margin-bottom: 0;
    text-shadow: 5px 5px 10px black;

}

.linha{ 
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30%;
    gap: 30%;
    align-items: center;
    justify-content: center;
}

.card-comunidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 70%;
    height: 100%;
    padding: 5px;

    background-color: #caba69;
    border: 2px solid aliceblue;
    box-shadow: 5px 5px 10px black;


    transition: 1s;
}

.card-comunidade:hover {
    transition: 1s;

    transform: scale(130%, 130%);
    background-color: rgb(255, 252, 216);
    border: 2px solid #8c7729;

    box-shadow: 0.1px 0.1px 5px white;
}

.card-comunidade button {
    border-radius: 15px;
    width: fit-content;
    align-self: center;
    font-size: medium;
    border: 1px solid #1e1f24;
    box-shadow: 0.1px 0.1px 3px black;
    cursor: pointer;
}
/* #endregion */

/* #region Postagens */
.titulo-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.titulo-post a {
    color: aliceblue;
    text-decoration: underline;
    align-self: flex-start;
    justify-self: flex-start;
}

.titulo-post button {
    background-color: #e9ca59;
    margin-top: 3%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: black 1px solid;
    cursor: pointer;
    justify-self: flex-start;
    align-self: flex-start;
}

.titulo-post button:hover {
    background-color: #fff5d0;
    color: #1e1f24;
    transform: scale(110%,110%);
    box-shadow: 5px 5px 10px black;
}

.usuario {
    background-color: #babab9;
    width: 60%;
    height: 100px;
    border-radius: 15px;
    border: 2px solid aliceblue;
    box-shadow: 5px 5px 10px black;
}

.usuario textarea {
    font-family: poppins, arial;
    background-color: transparent;
    border: transparent;
    color: rgb(39, 39, 39);
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.usuario textarea::placeholder {
    color: rgb(39, 39, 39);
    font-size: larger;
}

.envio {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    align-items: flex-end;
}

.envio button {
    color: rgb(247, 251, 255);
    background-color: #a18b39;
    margin-top: 3%;
    height: 60%;
    width: 20%;
    border-radius: 10px;
    border: #fff 1px solid;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.subdescricao {
    font-size: smaller;
}

.descricao {
    font-size: small;
}
/* #endregion */